@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   font-family: Roboto, sans-serif;
   background-color: #ffffff;
   width: 100vw;
   width: 100dvw;
   min-height: 100vh;
   min-height: 100 dvh;
}

h1,
h2,
h3,
h4,
h5 {
   font-family: Raleway, sans-serif;
}
